/* antd主题色变量 */
@primary-color: #4dc5bb;
@link-color: #4dc5bb;
@btn-danger-color: #f17b16;
@btn-danger-bg: #fff;
@btn-add-bg: #4dc5bb;


/* 页面主题色变量 */
@color-login-bg: #545c64;
@color-header-bg: #545c64;
@color-logo: #4de4dc;
@color-text: #d5dade;
@color-nav-active: #4de4dc;
@color-aside-bg: #f2f2f2;
