@charset 'utf-8';
@import './base.scss';
@import '../iconfont/iconfont.css';

/**
 * @reset antd UI
 */

.ant-table-thead>tr>th span {
    font-size: 14px;
    font-weight: bold;
    color: #6c6c6c;
}

.ant-table-tbody>tr>td {
    font-size: 12px;
}

.ant-table-footer {
    button {
        margin-right: 10px !important;
    }
}

.searchForm {
    button {
        margin-left: 10px !important;

        &:first-child {
            margin-left: 12px !important;
        }
    }
}